@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
	max-width: 100vw;
	overflow-y: scroll;
}

.Allwrapper {
    width: 100%;
}

.top-page-box {
	padding: 5%;
}

header {
	width: 100%;
}

/*全ページ共通 ヘッド帯*/

.page-top-border {
	background-color: #000;
}

.page-top-border p a {
	display: block;
	color: #fff;
	font-size: 0.8em;
	padding: 0.3%;
	text-align: center;
	text-decoration: none;
}

.page-top-border p a:hover {
	opacity: 0.2;
}



/*タイトル・ナビゲーション部分*/
.top-page-box {
	width: 100%;
	box-sizing: border-box;
}

.top-page-box h1 {
    display: block;
	width: 50%;
	font-size: 5em;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000,
		-1px 1px 0 #000, 1px -1px 0 #000,
		0px 1px 0 #000, 0-1px 0 #000,
		-1px 0 0 #000, 1px 0 0 #000;
}

.top-page-box h1::after {
	content: "|";
	color: #393939;
	margin-left: 4%;

}

.wannauseflex2 {
    width: 100%;
    display: flex;
}

/*モーダル・hamburgerメニュー*/
.modal-menus {
    margin-left: auto;
    margin-top: -4%;
    margin-right: 5%;
    width: 10%;
}

.content  {
    width: 100%;
    display: flex;
    margin-left: auto;
    text-align: right;
    padding: 70%;
}

.content a:nth-child(1) {
    margin-right: 40%;
}

.content a i {
    color: #000;
}

.modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 1000;
}

.modal_bg {
    background-color: rgba(0,0,0,0.8);
    height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.modal_content {
    background-color: #fff;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%,-50%);
}

#modal01 .modal_content p {
    font-size: 2em;
    font-family: serif;
} 

#modal01 .modal_content a {
    display: block;
    color: #000;
    margin-top: 4%;
    margin-bottom: 4%;
}

#modal01 .modal_content a i {
    display: inline-block;
    color: #000;
    padding: 3%;
}

#modal01 ul li .js-modal-close {
    margin-top: 10%;
}

#modal02 p {
    font-family: serif;
}

#modal02 .comefromSapporo {
    font-size: 0.7em;
}

#modal02 .mynameisUtah {
    font-size: 2.4em;
    margin-top: 5%;
    margin-bottom: 5%;
}

#modal02 .modal_content .myHistry{
    margin-bottom: 10%;
}

#modal02 .js-modal-close {
    color: #000;
}

/*左側ナビ*/
.navigation-dsgnpage {
	width: 20%;
}

.navigation-dsgnpage nav ul li {
	list-style-type: none;
}

.navigation-dsgnpage nav ul li a {
	margin-top: 50%;
	color: #393939;
	text-decoration: none;
	writing-mode: tb-rl;
	font-size: 2em;
	font-weight: bold;
}

.navigation-dsgnpage nav ul li a:hover {
	color: #fff;
	text-shadow: 1px 1px 0 #000, -1px -1px 0 #000,
		-1px 1px 0 #000, 1px -1px 0 #000,
		0px 1px 0 #000, 0-1px 0 #000,
		-1px 0 0 #000, 1px 0 0 #000;
}

.wannauseflex {
	display: flex;
    width: 100%;
}


/*メインセクション*/
.main {
	margin-left: 0;
    width: 100%;
    box-sizing: border-box;
}

.designs-box {
	width: 80%;
	padding: 10% 0 10% 10%;
}

.designs-box a:hover .mask {
	opacity: 1;
}

.parent {
	position: relative;
}

.mask {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	opacity: 0;
}

.caption {
	color: #fff;
	font-size: 1em;
	font-weight: normal;
	display: block;
	text-align: center;
}

.OMAR-box .caption {
	line-height: 12;
}

.tanaka-box .caption {
	line-height: 30;
}

.meja .caption {
	line-height: 30;
}

.KirsTen-box .caption {
	line-height: 12;
}

.maru-box .caption {
	line-height: 20;
}

.wannauseflex2 {
	display: flex;
	width: 100%;
}

.left-box {
	width: 50%;
}

.OMAR-box {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.OMAR-box img {
	width: 100%;
}

.tanaka-box {
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.tanaka-box img {
	height: 100%;

}

.right-box {
	width: 50%;
}

.meja-and-title {
	width: 100%;
	display: flex;
}

.meja {
	width: 70%;
	height: 500px;
	overflow: hidden;
}

.meja img {
	height: 500px;
	object-fit: none;
	object-position: 50% 50%;
}

.title {
	width: 30%;
	height: 500px;
	border: 0.5px solid #000;
	box-sizing: border-box;
}

.title h2 {
	writing-mode: tb-rl;
	font-size: 2em;
}

.KirsTen-box {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.KirsTen-box img {
	width: 100%;
	margin-top: -20%;
}

.maru-box {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.maru-box img {
	width: 100%;
}

/*フッター*/

footer p {
	text-align: center;
	font-family: serif;
    padding: 1%;
}





@media screen and (max-width: 600px) {
	header {
		line-height: 5;
		width: 100%;
		margin: 0 auto;
	}

	.top-page-box h1 {
		width: 100%;
		font-size: 2.5em;
	}
    
    .modal-menus {
        margin-right: 20%;
        box-sizing: border-box;
    }
    
    .modal_content {
        width: 90%;
    }
    
    #modal01 .modal_content p {
        font-size: 1.5em;
    }


	.wannauseflex {
		margin-top: 4%;
	}

	.navigation-dsgnpage {
		width: 10%;
		z-index: 100;
	}

	.navigation-dsgnpage nav ul li a {
		font-size: 1.5em;
		background-color: #ccc;
		padding: 10%;
	}

	.designs-box {
		width: 90%;
		padding: 2%;
        box-sizing: border-box;
	}

	.OMAR-box {
		height: 100px;
	}

	.tanaka-box {
		height: 250px;
	}

	.meja {
		height: 250px
	}

	.title {
		height: 250px;
	}

	.title h2 {
		font-size: 1.5em;
	}

	.KirsTen-box {
		height: 100px;
	}

	.maru-box {
		height: 150px
	}

	main {
		width: 100%;
		padding-left: 4%;
        box-sizing: border-box;
    }

	.OMAR-box .caption {
		line-height: 9;
		font-size: 0.5em;
		height: 100%;
	}

	.tanaka-box .caption {
		line-height: 25;
		font-size: 0.2em;
	}

	.meja .caption {
		line-height: 14;
		font-size: 0.2em;
	}

	.KirsTen-box .caption {
		line-height: 10;
		font-size: 0.2em;
		height: 100%;
	}

	.maru-box .caption {
		line-height: 18;
		font-size: 0.2em;
	}

	.mask {
		opacity: 1;
	}
    
    .OMAR-box img {
        height: 100%;
        width: inherit;
    }
    
    .KirsTen-box img {
        margin-top: 0;
    }
    
    .maru-box .mask {
        margin-top: -5%;
    }

	footer {
		margin-top: 14%;
	}
}